# =========================
# Godot Engine
# =========================
.godot/
!.godot/extension_list.cfg
.import/
export_presets.cfg
*.translation

# =========================
# Gemini CLI
# =========================
.gemini/
.tmp.driveupload/

# =========================
# IDEs (VS Code & VS 2022)
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.vs/
*.rsuser
*.suo
*.user
.qodo/
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
[Xx]64/
[Oo]bj/
